# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Platform / Tooling
.DS_Store
.cache
.git
build/
logs/
CMakeUserPresets.json
compile_commands.json
.clangd

# Other
.env
.vscode/
minuet_prof.json
*.zip
